.line-chart {
    -fx-pref-height: 600px;
    -fx-pref-width: 800px;
}

.render-window {
    -fx-pref-height: 650px;
    -fx-pref-width: 650px;
}

.vbox-5-raised {
    -fx-alignment: TOP_CENTER;
    -fx-padding: 5;
    -fx-spacing: 5;
}
